## Loading the Iris Dataset

In [1]:
# import the usual libs
import pandas as pd
import numpy as np

# iris dataset
from sklearn.datasets import load_iris

In [2]:
# loading data into a dataframe
iris = load_iris()
iris_df = pd.DataFrame(iris['data'], columns=iris['feature_names'])
iris_df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)

iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [3]:
# repalce spaces in column names with '_'
iris_df.columns = iris_df.columns.str.replace(' ','_')

# remove (cm) from the column names
iris_df.columns = iris_df.columns.str.rstrip("_'('cm')''")

iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
# shape of the dataset
iris_df.shape

(150, 5)

In [5]:
# number of samples for each species 
iris_df.species.value_counts()

virginica     50
versicolor    50
setosa        50
Name: species, dtype: int64

## Filterting Data Usual Syntax vs Query() Function

####  How many 'setosa' samples have a sepal length of less than 5cm?

In [6]:
# The usual way
iris_df[(iris_df.species == 'setosa') & (iris_df.sepal_length  < 5)].shape[0]

20

In [7]:
# Using the query function
iris_df.query('species == "setosa" and sepal_length < 5').shape[0]

20

In [8]:
# switch between 'and' or '&' symbol
iris_df.query('species == "setosa" & sepal_length < 5').shape[0]

20

In [9]:
# use local variable
max_sepal_len = 5
iris_df.query('species == "setosa" & sepal_length < @max_sepal_len').shape[0]

20